<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <script src=""></script>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title></title>
</head>
<body>
Petit test avec {{ app }}
<form action="{{ url('test','post') }}" method="post">
    <button type="submit"> envoyer</button>
</form>
<script src=""></script>
</body>
</html>