<div>
    <div>
        <span>Revenue</span>
    </div>
    <div>
        <span>Sales by category</span>
    </div>
</div>
<div>
    <div>
        <span>Sales</span>
    </div>
    <div>
        <span>Transactions</span>
    </div>
    <div>

    </div>
</div>
<div>
    <div>
        <span>Recent Orders</span>
    </div>
    <div>
        <span>Top selling products</span>
    </div>
</div>