{% extends "layouts/email_base.html.twig" %}

{% block content %}
<div id class = "background-color-#0F87C1 text-white font-family-poppins-sans-serif h-646px">
    <div class="img-content w-70 mt-60 position-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
    </div>
    <h1>Verify your email to finish signing up</h1>
        <p>
            Thank you for choosing Client Manager.
            Please confirm that [get-email] is your email address by clicking on the link.
        </p>
</div>
{% endblock %}