<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Confirm Password</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            background-color: #114568;
        }

        /****************************************************/
        /* HEADER */
        /****************************************************/
        header {
            background-color: #060818;
            display: block;
            width: 100%;
            height: 75px;
        }

        #LogoHeader {
            display: flex;
            align-items: center;
        }

        #LogoHeader img {
            margin-left: 30px;
            margin-top: 18px;
        }

        #LogoHeader span {
            color: white;
            font-family: 'Poppins', sans-serif;
            margin-left:10px;
            margin-top:12px;
        }

        .img-content{
            text-align: center;
        }

        /****************************************************/
        /* MAIN */
        /****************************************************/

        section {
            padding-left:400px;
            padding-right:400px;
        }

        section svg {
            width:70px;
            position:center;
            margin-top:60px;
        }

        section #infos {
            background-color:#0F87C1;
            color:white;
            font-family: 'Poppins', sans-serif;
            height:646px;
        }

        section #infos h1 {
            text-align:center;
            margin-top:20px;
        }

        section #infos p {
            text-align:center;
            font-size:16px;
            margin-top:30px;
        }

        section #infos button {
            width:260px;
            height:30px;
            background-color:#82B7D1;
            border-color:#639FBD;
            margin-left:235px;
            margin-top:40px;
        }

        section #infos button a {
            color: white;
            font-family: 'Poppins', sans-serif;
        }

        #liens a {
            color: white;
            font-family: 'Poppins', sans-serif;
            text-decoration:underline;
        }

    </style>
</head>

    <body>
        <header>
            <div id="LogoHeader">
                <a href="#"><img src="http://localhost:8742/src/images/logo.svg" alt=""/></a>
                <span>Client Manager</span>
            </div>
        </header>

        <main>
            <section id="principale">
                <div id="infos">
                    <div class="img-content"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                        </svg>
                    </div>
                    <h1>Verify your email to finish signing up</h1>
                    <p>
                        Thank you for choosing Client Manager.
                        Please confirm that [get-email] is your email address by clicking on the link received in the email.
                        After that, please log in by clicking on this button.
                    </p>
                    <a href="">
                        <button>
                            <a>Login to Your Account</a>
                        </button>
                        <div id ="liens">
                            <p>
                                Haven't received verification e-mail ?
                                <a href ="">Resend</a>
                            </p>
                        </div>
                    </a>

                </div>
            </section>

        </main>

    </body>
</html>