{% extends 'layouts/base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form action="{{ url("user.register",'post') }}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}