<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="shortcut icon" href="{{ image('logo.svg') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-primary-100 h-screen grid grid-cols-12 grid-rows-6">
{% include('components/alerts.html.twig') %}
<div class="col-span-full row-span-1">
    {% include 'components/header.html.twig' %}
</div>
<div class="col-span-2 grow row-span-5">

    {% include 'components/navbar.html.twig' %}
</div>
<div class="col-span-10 px-4 bg-primary-100 row-span-5 overflow-y-scroll">
    {% block body %}{% endblock %}
</div>

</body>
</html>


