<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        {{ css(asset('css/app.css')) }}
    </style>
</head>
<body class="bg-primary-100">
<div class="container mx-auto w-1/2">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>