<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ public_path('assets/css/app.css') }}">
    <title>Email</title>
</head>
<body class="bg-primary-100">

{% block body %}

{% endblock %}

</body>
</html>

