<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <title>Invoice #{{ order.id }}</title>
</head>
<body class="bg-primary-100 h-screen container mx-auto py-8 scrollbar-hide">
{% block body %}{% endblock %}
</body>
</html>

