<div class="bg-primary-100 px-8 py-4 flex items-center justify-between">
    <div class="flex md:space-x-2 items-center">
        <img src="{{ image('logo.svg') }}" alt="logo">
        <h1 class="text-gray-100 text-xl font-medium hidden md:block">Client Manager</h1>
        <label class="relative hidden md:block">
            <input id="search" type="text"
                   class="appearance-none bg-primary-300 border border-primary-500 rounded-md pl-8 text-primary-500 pr-4 py-1"
                   placeholder="Search...">
            <span id="search-label" class="absolute top-1/2 transform -translate-y-1/2 z-49 text-primary-500 left-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                </svg>
            </span>
        </label>
    </div>
    <div class="flex items-center space-x-2">
        <a href="#" class="text-primary-500 text-sm font-medium">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
            </svg>
        </a>
        <a href="#" class="text-primary-500 text-sm font-medium relative">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
            </svg>
            <div class="absolute h-2 w-2 rounded-full bg-primary-50 -top-1 -right-1"></div>
        </a>
    </div>

</div>
<div class="bg-primary-200 px-8 py-4 flex items-center justify-between">
    <div class="flex items-center space-x-2 text-primary-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
        <span>
            <a href="#" class="">Account</a> {{ arrow() }} <a href="#" class="text-white">Signup</a>
        </span>
    </div>
    <div>
        <div class="flex flex-wrap">
            <div class="w-full sm:w-6/12 md:w-4/12">
                <div class="relative inline-flex align-middle w-full">
                    <button
                            class="flex items-center justify-between border w-max border-primary-500 bg-transparent text-primary-500 font-bold uppercase text-xs px-2 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 transition-all duration-150 ease-in-out"
                            type="button" onclick="openDropdown(event,'dropdown-example-1')">
                        <span>Settings</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                    </button>
                    <div
                            class=" hidden bg-primary-200 text-base z-49 float-left py-2 list-none text-left rounded shadow-lg mt-1 "
                            style="min-width: 12rem" id="dropdown-example-1">
                        <a href="{{ url('user.login') }}"
                           class=" flex items-center space-x-2 text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-primary-500 hover:bg-primary-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                            </svg>
                            <span>Sign in</span>
                        </a>
                        <a href="{{ url('user.register') }}"
                           class=" flex items-center space-x-2 text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-primary-500 hover:bg-primary-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                            </svg>
                            <span>Sign up</span>
                        </a>
                        <div class=" h-0 my-2 border border-solid border-t-0 border-blueGray-800 opacity-25 "></div>

                        <a href="#"
                           class=" flex items-center space-x-2 text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-primary-500 hover:bg-primary-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                            </svg>
                            <span>White mode</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
