<div class="min-h-full w-64 md:block bg-primary-100 space-y-20 padding-pl-5" >

    <div class="text-primary-400 ml-8 mb-16 pt-8">
        <div class ="space-y-1">
            <div class ="flex items-center space-x-4 mt-4 mb-2">
                <a href ="">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.999787 11.0002H1.99979V18.0002C1.99979 19.1032 2.89679 20.0002 3.99979 20.0002H15.9998C17.1028 20.0002 17.9998 19.1032 17.9998 18.0002V11.0002H18.9998C19.1975 11.0002 19.3908 10.9415 19.5552 10.8316C19.7197 10.7217 19.8478 10.5656 19.9235 10.3829C19.9991 10.2002 20.0189 9.99912 19.9804 9.80517C19.9418 9.61122 19.8466 9.43305 19.7068 9.2932L10.7068 0.293201C10.614 0.200255 10.5038 0.126518 10.3825 0.0762068C10.2612 0.0258961 10.1311 0 9.99979 0C9.86845 0 9.73841 0.0258961 9.61709 0.0762068C9.49578 0.126518 9.38558 0.200255 9.29279 0.293201L0.292787 9.2932C0.152977 9.43305 0.057771 9.61122 0.0192035 9.80517C-0.0193641 9.99912 0.000438951 10.2002 0.076109 10.3829C0.151779 10.5656 0.279918 10.7217 0.444328 10.8316C0.608738 10.9415 0.802037 11.0002 0.999787 11.0002ZM7.99979 18.0002V13.0002H11.9998V18.0002H7.99979ZM9.99979 2.4142L15.9998 8.4142V13.0002L16.0008 18.0002H13.9998V13.0002C13.9998 11.8972 13.1028 11.0002 11.9998 11.0002H7.99979C6.89679 11.0002 5.99979 11.8972 5.99979 13.0002V18.0002H3.99979V8.4142L9.99979 2.4142Z" fill="#506690"/>
                    </svg>
                </a>

                <a href ="">
                    <p>Home</p>
                </a>
            </div>

        </div>

        <div class= "space-y-1">
            <div class ="flex items-center space-x-4 mt-4 mb-2">
                <a href ="">
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 0C8.01109 0 7.04439 0.293245 6.22215 0.842652C5.3999 1.39206 4.75904 2.17295 4.3806 3.08658C4.00216 4.00021 3.90315 5.00555 4.09607 5.97545C4.289 6.94536 4.7652 7.83627 5.46447 8.53553C6.16373 9.2348 7.05464 9.711 8.02455 9.90393C8.99445 10.0969 9.99979 9.99784 10.9134 9.6194C11.827 9.24096 12.6079 8.6001 13.1573 7.77785C13.7068 6.95561 14 5.98891 14 5C14 3.67392 13.4732 2.40215 12.5355 1.46447C11.5979 0.526784 10.3261 0 9 0V0ZM9 8C8.40666 8 7.82664 7.82405 7.33329 7.49441C6.83994 7.16476 6.45542 6.69623 6.22836 6.14805C6.0013 5.59987 5.94189 4.99667 6.05764 4.41473C6.1734 3.83279 6.45912 3.29824 6.87868 2.87868C7.29824 2.45912 7.83279 2.1734 8.41473 2.05764C8.99667 1.94189 9.59987 2.0013 10.1481 2.22836C10.6962 2.45542 11.1648 2.83994 11.4944 3.33329C11.8241 3.82664 12 4.40666 12 5C12 5.79565 11.6839 6.55871 11.1213 7.12132C10.5587 7.68393 9.79565 8 9 8V8ZM18 19V18C18 16.1435 17.2625 14.363 15.9497 13.0503C14.637 11.7375 12.8565 11 11 11H7C5.14348 11 3.36301 11.7375 2.05025 13.0503C0.737498 14.363 0 16.1435 0 18V19H2V18C2 16.6739 2.52678 15.4021 3.46447 14.4645C4.40215 13.5268 5.67392 13 7 13H11C12.3261 13 13.5979 13.5268 14.5355 14.4645C15.4732 15.4021 16 16.6739 16 18V19H18Z" fill="#506690"/>
                    </svg>
                </a>

                <a href ="">
                    <p>Account</p>
                </a>

                <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.30951 1.72768L4.72751 5.10867L8.10852 1.69067" stroke="#506690" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

            <div class ="ml-5 space-y-2">
                <div>
                    <a href ="">
                        <p>Sign in</p>
                    </a>
                </div>

                <div>
                    <a href ="">
                        <p>Sign up</p>
                    </a>
                </div>
            </div>
        </div>

        <div class ="space-y-1">
            <div class ="flex items-center space-x-4 mt-4 mb-2">
                <a href ="">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.148 0.971C16.9698 0.675523 16.7185 0.43095 16.4183 0.260871C16.118 0.0907925 15.779 0.000946629 15.434 0H4.566C3.868 0 3.211 0.372 2.852 0.971L0.143 5.485C0.0492558 5.64041 -0.000194965 5.8185 5.77679e-07 6C0.00399429 6.96521 0.359495 7.89591 1 8.618V17C1 18.103 1.897 19 3 19H17C18.103 19 19 18.103 19 17V8.618C19.6405 7.89591 19.996 6.96521 20 6C20.0002 5.8185 19.9507 5.64041 19.857 5.485L17.148 0.971ZM17.984 6.251C17.9223 6.73382 17.6868 7.17764 17.3217 7.49952C16.9566 7.8214 16.4867 7.99931 16 8C14.897 8 14 7.103 14 6C14 5.932 13.975 5.872 13.961 5.808L13.981 5.804L13.22 2H15.434L17.984 6.251ZM8.819 2H11.18L11.993 6.065C11.958 7.137 11.08 8 10 8C8.92 8 8.042 7.137 8.007 6.065L8.819 2ZM4.566 2H6.78L6.02 5.804L6.04 5.808C6.025 5.872 6 5.932 6 6C6 7.103 5.103 8 4 8C3.51325 7.99931 3.04341 7.8214 2.67828 7.49952C2.31315 7.17764 2.07772 6.73382 2.016 6.251L4.566 2ZM8 17V14H12V17H8ZM14 17V14C14 12.897 13.103 12 12 12H8C6.897 12 6 12.897 6 14V17H3V9.858C3.321 9.941 3.652 10 4 10C4.56782 10.0003 5.12915 9.8794 5.6465 9.64539C6.16386 9.41137 6.6253 9.06963 7 8.643C7.733 9.475 8.807 10 10 10C11.193 10 12.267 9.475 13 8.643C13.3747 9.06963 13.8361 9.41137 14.3535 9.64539C14.8708 9.8794 15.4322 10.0003 16 10C16.348 10 16.679 9.941 17 9.858V17H14Z" fill="#506690"/>
                    </svg>
                </a>

                <a href ="">
                    <p>Store</p>
                </a>

            </div>

            <div class ="flex items-center space-x-5 mt-4 mb-2">
                <a href ="">
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 3H11V14H9V3ZM13 0H15V14H13V0ZM5 6H7V14H5V6ZM0 16H16V18H0V16ZM1 9H3V14H1V9Z" fill="#506690"/>
                    </svg>
                </a>

                <a href ="">
                    <p>Sales</p>
                </a>

            </div>
        </div>

        <div>
            <div class="flex items-center space-x-4 mt-4 mb-2">
                <a href ="">
                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.937 6.68C15.926 6.648 15.917 6.617 15.904 6.586C15.8566 6.47747 15.7902 6.37825 15.708 6.293L9.708 0.293C9.62275 0.210782 9.52353 0.144411 9.415 0.0969999C9.385 0.0829999 9.353 0.0749999 9.321 0.0639999C9.23733 0.0355262 9.15022 0.0183742 9.062 0.013C9.04 0.011 9.021 0 9 0H2C0.897 0 0 0.897 0 2V18C0 19.103 0.897 20 2 20H14C15.103 20 16 19.103 16 18V7C16 6.979 15.989 6.96 15.987 6.938C15.9819 6.85016 15.9651 6.7634 15.937 6.68V6.68ZM12.586 6H10V3.414L12.586 6ZM2 18V2H8V7C8 7.26522 8.10536 7.51957 8.29289 7.70711C8.48043 7.89464 8.73478 8 9 8H14L14.002 18H2Z" fill="#506690"/>
                    </svg>
                </a>

                <a href ="">
                    <p>Bills</p>
                </a>

                <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.30951 1.72768L4.72751 5.10867L8.10852 1.69067" stroke="#506690" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            </div>

            <div class ="ml-5 space-y-2">
                <div>
                    <a href ="">
                        <p>Pending</p>
                    </a>
                </div>

                <div>
                    <a href ="">
                        <p>Canceled</p>
                    </a>
                </div>

                <div>
                    <a href ="">
                        <p>Paid</p>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <div class="flex items-center space-x-4 mt-4 mb-2">
                <a href ="">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.15 4C16.9755 3.69772 16.7249 3.44638 16.4232 3.27095C16.1214 3.09552 15.779 3.00211 15.43 3H13V1C13 0.734784 12.8946 0.48043 12.7071 0.292893C12.5196 0.105357 12.2652 0 12 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V12C0.000359742 12.3507 0.0929428 12.6952 0.268461 12.9988C0.44398 13.3025 0.696262 13.5546 1 13.73C0.964196 14.6583 1.29861 15.5627 1.92967 16.2444C2.56073 16.9261 3.43674 17.3292 4.365 17.365C5.29326 17.4008 6.19772 17.0664 6.87941 16.4353C7.56111 15.8043 7.9642 14.9283 8 14H11.1C11.2106 14.8367 11.6215 15.6047 12.2561 16.161C12.8908 16.7173 13.706 17.024 14.55 17.024C15.394 17.024 16.2092 16.7173 16.8439 16.161C17.4785 15.6047 17.8894 14.8367 18 14C18.5304 14 19.0391 13.7893 19.4142 13.4142C19.7893 13.0391 20 12.5304 20 12V9C19.9984 8.81757 19.9502 8.63856 19.86 8.48L17.15 4ZM13 5H15.43L17.23 8H13V5ZM4.5 15C4.20333 15 3.91332 14.912 3.66664 14.7472C3.41997 14.5824 3.22771 14.3481 3.11418 14.074C3.00065 13.7999 2.97094 13.4983 3.02882 13.2074C3.0867 12.9164 3.22956 12.6491 3.43934 12.4393C3.64912 12.2296 3.91639 12.0867 4.20736 12.0288C4.49834 11.9709 4.79994 12.0007 5.07403 12.1142C5.34811 12.2277 5.58238 12.42 5.7472 12.6666C5.91203 12.9133 6 13.2033 6 13.5C6 13.8978 5.84196 14.2794 5.56066 14.5607C5.27936 14.842 4.89782 15 4.5 15ZM14.5 15C14.2033 15 13.9133 14.912 13.6666 14.7472C13.42 14.5824 13.2277 14.3481 13.1142 14.074C13.0006 13.7999 12.9709 13.4983 13.0288 13.2074C13.0867 12.9164 13.2296 12.6491 13.4393 12.4393C13.6491 12.2296 13.9164 12.0867 14.2074 12.0288C14.4983 11.9709 14.7999 12.0007 15.074 12.1142C15.3481 12.2277 15.5824 12.42 15.7472 12.6666C15.912 12.9133 16 13.2033 16 13.5C16 13.8978 15.842 14.2794 15.5607 14.5607C15.2794 14.842 14.8978 15 14.5 15Z" fill="#506690"/>
                </svg>
                </a>

                <a href ="">
                    <p>Ordery</p>
                </a>

                <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.30951 1.72768L4.72751 5.10867L8.10852 1.69067" stroke="#506690" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

            <div class ="ml-5 space-y-2">
                <div>
                    <a href ="">
                        <p>Pending</p>
                    </a>
                </div>

                <div>
                    <a href ="">
                        <p>Canceled</p>
                    </a>
                </div>

                <div>
                    <a href ="">
                        <p>Sent</p>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>